@import '@styles/layout';
@import '@styles/typography';

.loginPage {
  @include page;
  display: flex;
  flex-direction: column;
  &Inner {
    @include stackedTopBorder;
    &Text {
      font-weight: 500;
      font-size: 13px;
      color: #6c757d;
      margin-bottom: 1em;
    }
  }
  .loginTitleWrapper {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background: #faca86;
    padding-bottom: 3em;
  }
  .loginTitle {
    @include title-1;
  }

  .loginInputWrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0;

    & > * {
      margin-bottom: 1em;
    }
  }

  .forgotPassBtn {
    color: #6c757d;
    cursor: pointer;
    max-width: fit-content;
    margin-top: 1em;
  }

  .inputOptionsWrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    width: 100%;
    & > * {
      margin-bottom: 1em;
    }
    .inputOption {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 1em 0.5em;
      position: relative;
      border: 1px solid #e9ecef;
      border-radius: 16px;
      & > svg {
        position: absolute;
        left: 10px;
        color: #495057;
      }
      & > h2 {
        font-size: 16px;
        font-weight: 500;
        color: #495057;
      }
    }
  }
  .signupBtnWrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .signupBtn {
      font-size: 17px;
      line-height: 120%;
      color: #212529;
      font-weight: 600;
    }
  }
}
