.ctaPrimary {
    font-family: 'Manrope', sans-serif;
  background-color:#FA9700;
    color:  #FFFFFF;
    border-radius: 12px;
    min-height:64px;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
    width:100%;


}

.ctaPrimary:hover {
    cursor: pointer;
    background-color: #F8A500;
}
.ctaPrimary__label {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 16px 12px ;
    user-select: none;
    pointer-events: none;
}

/*
Add click animation
 */
.ctaPrimary__label:active {
    transform: scale(0.95);
}
