$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$main-100: #fefaf3;
$main-200: #ffefd8;
$main-300: #fbd59e;
$main-400: #faca86;
$main-500: #fa9700;
$main-600: #da8100;
$main-700: #a9593d;
$main-800: #593A42;

$secondary-100: #d4f9dd;
$secondary-200: #b4ffe4;
$secondary-300: #7CDEA8;
$secondary-400: #55BE8E;
$secondary-500: #27946D;
$secondary-600: #1C7F65;
$secondary-700: #136A5C;

$tertiary-100: #DCDBFC;
$tertiary-200: #BAB8F9;
$tertiary-300: #9392EF;
$tertiary-400: #7472DF;
$tertiary-500: #4947CA;
$tertiary-600: #3533AD;
$tertiary-700: #252391;

$other-01:#FFCBE0;
$other-02: #FFE1D9;
$other-03: #DAF5FF;
$other-04: #FDF7C3;
$other-05: #F9F5EB;
$other-06: #E9EDC9;
$other-07: #ECF2FF;

$info: #02B3DB;
$info-light: #CCF0F8;
$info-dark:#0093D5;


$warning: #F3A61D;
$warning-light:#FDEDD2;
$warning-dark:#F27600;

$danger: #FF424B;
$danger-light:#FFD9DB;
$danger-dark:#FF0000;


$successful: #3DBF3B;
$successful-light: #D8F2D8;
$successful-dark:#00AA00;


$white: #FFFFFF;
