
.surgeCalendar {
  &__empty {
    color: #7CDEA8;
  }

  &__full {
    color: #FF424B;
    text-decoration: line-through;
    &:hover{
      pointer-events: none;
        cursor: default;
    }
  }

  &__busy {
    color: #FF424B;
  }

  &__partial {
    color: #FACA86;
  }

  // strike through
  &__past{
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
    &:hover{
      pointer-events: none;
        cursor: default;
    }
  }

}
