@import "@styles/variables";
@import "@styles/typography";
@import '@styles/layout';

.appointmentsPage {
  background-color:$main-400;
  height:100%;
  width:100%;
  &Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    padding:16px;
    & > h1{
      @include title-2;
    }
    & > svg{
      transition: all .3s;
        width: 24px;
        height: 24px;
      &:hover{
        cursor:pointer;
        color:$white;
      }
    }
  }
  &Content{
    @include stackedTopBorder($white,-2rem);
    min-height:100vh;
    height:100%;
    &__header {
      display:flex;
      gap:16px;
      flex-direction: row;
      & > * {
        flex:1;
      }
    }
    &__body{
      padding-top:16px;
      display: flex;
      flex-direction: column;
      gap:12px;
      align-items: center;

      &Text{
        @include caption-1;
        margin-top:32px;
      }

    }


  }
}

.appointmentsDrawer{

  &Header{
    display: flex;
    flex-direction:row;
    padding:16px;
    align-items: center;
    justify-content: space-between;
    & > h1 {
      @include title-2;
    }
    & > svg{
      transition: all .3s;
      width: 24px;
      height: 24px;
      color:$gray-600;
      backface-visibility: hidden;
      &:hover{
        cursor:pointer;
        color:$gray-700;
        transform: scale(1.02);
      }
    }
  }
  &Body{
    &__row{
      padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      align-items: center;
      border-bottom:1px solid $gray-200;

      & > p{
        @include caption-1;
        color:$gray-700;
      }
    }
  }
}
