@import "@styles/variables";
@import "@styles/typography";

.paymentPage{
  &Container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color:$white;
    gap:16px;

  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;

  gap:16px;

  &Complete{
    width:100%;
    padding-bottom:32px;
  }

  &__header3{
    @include caption-1;
    color: $gray-500;
    text-align: center;
    margin-bottom:-8px;
  }
}
