@import "@styles/variables";
@import "@styles/typography";

.subHeader{
    color: $main-500;
}

.addCreditCard {
  padding:16px;
  width:100%;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    width:100%;
    padding:8px 0px;
  }
  & > * {
  }
}
.errorMessage {
  @include caption-3;
  color:$danger-light;
  font-size:1234px;
}
