.spinnerOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.spinnerOverlay__spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #a9593d;
  animation: spinner 1s linear infinite;
}

.page {
  width: 100%;
  position: relative;
}

@media only screen and (min-device-width: 650px) {
  .spinnerOverlay {
    max-width: 450px;
    width: 450px;
    max-height: 85vh;
    height: 85vh;
    overflow-y: scroll;
    border-radius: 30px;
    background-color: #ffffff;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
