.slot-card {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0.6em;
  color: #8f9bb3;
  border: 2px solid #f1f6fd;
  border-radius: 5px;
  font-weight: 700;
  align-items: center;
  transition: all linear 0.3s;
}
