@import "@styles/variables";
@import "@styles/typography";

.warningBtn {
  transition: all .3s;
  background-color: $other-01;
  color: $danger;
  width:100%;
  border-radius: 12px;
  display:flex;
    align-items:center;
    justify-content:space-between;
  gap:8px;

  @include caption-1;
  & > * {
    padding: 8px;
  }
  &:hover {

    background-color: $other-02;
    cursor: pointer;
  }
  & > div{
    display:flex;
    align-items:center;
    gap:8px;
    & > svg {
      width: 16px;
      height: 16px;
      color: $danger;
    }
  }
}
