.checkableCard{
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FEFAF3;
    border-radius: 18px;
    transition: all .2s ease-in-out;
    &__checked{
        @extend .checkableCard;

        background-color: #D4F9DD;
    }
    &__left{
        margin:16px;
        width:75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 1rem;
        gap: 6px;
    }
    &__title{
        color: #A9593D;
        font-size:17px;
        font-weight: 800;
        &__checked{
            @extend .checkableCard__title;
            color:#27946D;
        }
    }
    &___content{
        color:#6C757D;
        font-size:11px;
        font-weight:700;
    }

    &:hover{
        cursor:pointer;
    }

    &__right{
        margin:8px;
        width:25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 1rem;
        gap: 6px;

    }
    &__checkbox{
        border: 2px solid #DEE2E6;
        color: #3DBF3B;
        &:hover{
            cursor:pointer;
        }

        &__checked{
            @extend .checkableCard__checkbox;
            border: 2px solid #3DBF3B;
        }
    }
}


