@import '@styles/variables';
@import '@styles/typography';

.textInputFormFieldControlled {
  position: relative;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;

  &__input {
    @include subhead;
    flex: 1;
    color: $gray-700;
    height: 100%;
    width: 100%;
    margin-top: 12px;
    background: none;
    border: none;
    outline: none;
    padding: 16px 12px;
    position: relative;
  }
  &__inactive {
    @extend .textInputFormFieldControlled;
    border: none;
    background: $gray-100;
  }

  &__active {
    @extend .textInputFormFieldControlled;
    border: 2px solid $gray-200;
    background: $white;
  }

  & > label {
    transition: all 0.3s ease-in-out;
    position: absolute;
    pointer-events: none;
  }

  &__label {
    @include subhead;
    color: $gray-700;
    left: 12px;
  }
  &__label__floating {
    @include caption-2;
    transform: translate(12px, -12px);
    color: $main-700;
  }
}

.eyeBtn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;

  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;

  & > svg {
    width: 24px;
    height: 24px;
    fill: $gray-700;
  }
}
