@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.App {
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0 !important;
  color: #212529;
}

.clickable {
  cursor: pointer;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
}


.page {
  width: 100vw;
  position: relative;
  height: 100vh;

}


@media only screen and (min-device-width: 450px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
  }

  .page {
    max-width: 450px;
    width: 450px;
    max-height: 85vh;
    height: 85vh;
    overflow-y: scroll;
    border-radius: 30px;
    background-color: #ffffff;
  }
}

